* {
   margin: 0px;
}

/*bebas*/
.h1,span,title{
   font-family: 'Bebas Neue', sans-serif;
}

/*roboto*/
h2,h3,h4,h5,h6 {
   font-family: 'Roboto', sans-serif;
}

/*efectos img de events index*/
.desenfoque:hover {     /*hover: quan el ratuli esta sobre la imatge*/
   filter: blur(4px); /* Aplica un desenfoque de 2 píxeles a la imagen */
 }
 
 /*letra events en p principal*/
.container {
   font-family: 'Bebas Neue', sans-serif;

}
/* varios elementos de codigo para los titulos generales*/
.section-title {  /* VA*/
   margin-bottom:30px;
   position: relative;
   z-index: 1;
}

.section-title.center-title {
   text-align: center;
}

.section-title h2 {
   font-size: 42px;
   color: #111111;
   font-weight: 700;
   text-transform: uppercase;
}

.section-title h1 {
   font-size: 100px;
   color: #f2f2f2;
   font-family: 'Bebas Neue', sans-serif;
   position: absolute;
   left: 0;
   top: -45px;
   width: 100%;
   z-index: -1;
}
/* esto afecta al apartado de djs stars */
.set-bg {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

.spad {
   padding-top: 100px;
   padding-bottom: 100px;
}

/* hasta aqui djs stars */

/* boton 1er buy */
.primer_buy {
   display: inline-block;
   font-size: 20px;
   text-transform: uppercase;
   padding: 14px 25px 12px;
   color: #4dff86; /* Color del texto */
   font-weight: bold;
   background: transparent; /* Fondo transparente */
   letter-spacing: 2px;
   border: 2px solid #4dff86; /* Borde verde */
}
.primer_buy:hover {
   background-color: #4dff86; /* Fondo verde */
   color: white; /* Color del texto blanco */
 }
 
.primer_buy.border-btn {
   background: transparent; /* Fondo transparente */
   color: #4dff86; /* Color del texto */
}

/* Preloder */
#preloder {  
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 999999;
   background: #000;
}

.loader {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -13px;
   margin-left: -13px;
   border-radius: 60px;
   animation: loader 0.8s linear infinite;
   -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
   50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      border: 4px solid #4dff86 ;
      border-left-color: transparent;
   }
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
}

@-webkit-keyframes loader {
   0% {
      -webkit-transform: rotate(0deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
   50% {
      -webkit-transform: rotate(180deg);
      border: 4px solid #4dff86 ;
      border-left-color: transparent;
   }
   100% {
      -webkit-transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
}

/*---------------------
 Header 
-----------------------*/
.header {
   font-family: 'Bebas Neue', sans-serif;
   background: rgba(2, 2, 2, 0.952);
   position: fixed; /* Cambiado a fixed */
   margin: 0;
   padding: 0;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 9;
   transition: top 1s; /* Agregado para una transición suave */
}

.header.hide-on-scroll {
   top: -100px; /* Esconde el header desplazándolo hacia arriba */
}

.header__logo {
   padding: 70 px 5 px;
   padding-top: 10px;
   float: left;
}

.header__logo a {
   display: inline-block;
}
.header__nav {
   text-align: left;
   display: inline-block;
}

.header__menu {
   padding: 30px;
   padding-left: 80px;
   display: inline-block;
   margin-right: 20px;

}

.header__menu ul li {
   list-style: none;
   display: inline-block;
   margin-right: 45px;
   position: relative;
}
/*nuevo para añadir margenes a la info*/
.header_info{
   margin-right: 20px;   
}
/*--para el nav--*/
.header__menu ul li:hover a:after {
   opacity: 1;
}

.header__menu ul li:hover .dropdown {
   top: 34px;
   opacity: 1;
   visibility: visible;
}

.header__menu ul li:last-child {
   margin-right: 0;
}

.header__menu ul li .dropdown {
   position: absolute;
   left: 0;
   top: 56px;
   width: 150px;
   background: #000000;
   text-align: left;
   padding: 2px;
   z-index: 9;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all, 0.3s;
   -o-transition: all, 0.3s;
   transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
   display: block;
   margin-right: 0;
}

.header__menu ul li .dropdown li a {
   font-size: 14px;
   color: #ffffff;
   font-weight: 400;
   padding: 8px 20px;
   text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
   display: none;
}

.header__menu ul li a {
   font-size: 15px;
   text-transform: uppercase;
   color: #ffffff;
   display: block;
   padding: 6px 0;
   position: relative;
}

.header__menu ul li a:after {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background: #ffffff;
   content: "";
   -webkit-transition: all, 0.5s;
   -o-transition: all, 0.5s;
   transition: all, 0.5s;
   opacity: 0;
}

.container {  /*--para organizar contenidos--*/
   display: contents;
}

.slicknav_menu {
   display: none;
}

.buy__tickets {
   text-align: left;
}
/*---------------------
 Hero
-----------------------*/

.heroimagen {
   margin: 0%;

   width: 100%;
   height: 100vh; /* Ocupa toda la altura de la ventana */
   background-position: center;
   background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.portada_logo_peque {
   text-align: center;
   padding-bottom: 24px;
}

.hero__text {
   text-align: center;
}

.hero__text span {
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 6px;
}

.linear__icon {
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   color: #ffffff;
}

/*---------------------
Events
-----------------------*/
.margen_fotos {
   margin-top: 6%; 
}
.carteles { /* Cartel uno al lado de otro y medidas */
   margin-top: 6%;
   margin-left: 3%;
   display: grid;
   grid-template-columns: 1fr 1fr ;
}
/*_________________
events pagina
_______________*/
.container_lleida {
   display: flex; /* Utiliza flexbox para el diseño */
   flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no caben en una sola fila */
   justify-content: center; /* Centra los elementos horizontalmente */
}

.presentacion_lleida {
   width: 100%; /* Asegura que ocupe todo el ancho disponible */
   text-align: center; /* Centra el contenido */
   margin-bottom: 20px;
}

.cartel_ll_pgevents {
   width: 50%; /* Asigna el 50% del ancho del contenedor para la imagen */
   text-align: right; /* Alinea la imagen a la derecha */
   padding-right:3%; /* Agrega un espacio entre la imagen y el texto */
   box-sizing: border-box; /* Incluye el padding en el ancho del elemento */
}

.info_lleida {
   width: 50%; /* Asigna el 50% del ancho del contenedor para la información */
   text-align: left; /* Alinea el texto a la izquierda */
   padding-left: 10px; /* Agrega un espacio entre el texto y la imagen */
   box-sizing: border-box; /* Incluye el padding en el ancho del elemento */
   margin-top: 20px;
}
.info_lleida h2 {
   margin-top: 30px;
   margin-left:60px;
   display: flex; /* Utiliza flexbox para colocar los elementos en línea */
   align-items: center; /* Alinea los elementos verticalmente al centro */
}
.info_lleida ul {
   list-style: none; /* Quita los estilos de lista predeterminados */
   padding: 0; /* Elimina el espacio de relleno predeterminado */
}

.info_lleida li {
   display: flex; /* Muestra los elementos en línea */
   align-items: center; /* Alinea los elementos verticalmente */
   margin-bottom: 10px; /* Añade un espacio entre cada elemento */
}
.lleida_icon {
   width: 24px; /* Ajusta el tamaño según necesites */
   height: 24px; /* Ajusta el tamaño según necesites */
   margin-right: 5px; /* Ajusta el margen entre el icono y el texto */

}
.cartel_ll_pgevents img {
   max-width: 70%; /* Garantiza que la imagen no exceda el ancho del contenedor */
   height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
   margin-left: -50%;
}

/*---------------------
djs stars del index
-----------------------*/
.section-title h2, h3 {
   text-align: center;
   font-family: 'Bebas Neue', sans-serif;
}
.eventsspad  {
   margin: 8%;
}

.event__item__pic { 
   height: 360px;
   position: relative;
}

.event__item__text {  /* textos de djs estar estilo*/
   text-align: center;
   margin:-50px;
   padding: 45px 10px 25px;
}

.event__item__text h4 {
   font-size: 26px;
   font-weight: 700;
   color: #111111;
   margin-bottom: 10px;
}

.linkcartelera {
   color: #000;
}

.linkcartelera:hover {
   color:#01660b;
}

/* seccion djss de las paginas de eventos */
.djssaaa {
   color: #000; 
}

.djssaaa:hover {
   color: #01660b; /* Cambia a un tono grisáceo cuando se pase el mouse por encima */
} 

/* BREADCRUMB */ 
.fafahome {
   color: #000; 
}

.fafahome:hover {
   color: #02ef4d; /* Cambia a un tono grisáceo cuando se pase el mouse por encima */
} 
/*---------------------
 Countdown
-----------------------*/

.countdown { 
padding-bottom: 560px;
}

.countdown__text h1,h4 {
   text-align: center;
   margin-bottom: 36px;
}

.countdown__text h1 {
   font-size: 90px;
   color: #000000;
   font-family: 'Bebas Neue', sans-serif;
   color: #000000;
   margin-bottom: 25px;
}

.countdown__text h4 {
   font-size: 26px;
   font-family: 'Bebas Neue', sans-serif;
   color: #000000;
   text-transform: uppercase;
   letter-spacing: 4px;
}

.countdown__timer {
   text-align: center;
   margin-bottom: 30px;
}

.countdown__item {
   margin-top: 30%;
   display: inline-block;
   margin-right: 80px;
   margin-bottom: 30px;
}

.countdown__item:last-child {
   margin-right: 0;
}

.countdown__item span {
   font-size: 90px;
   font-family: 'Bebas Neue', sans-serif;
   font-weight: 700;
   color: #000000;
   display: block;
   line-height: 100px;
}

.countdown__item p {
   color: #000000;
   letter-spacing: 4px;
   text-transform: uppercase;
   margin-bottom: 0;
}
 
/*---------------------
 gallery     
-----------------------*/

/*---------------------
 Footer, pie de pagina
-----------------------*/
/* Estilos para el pie de página */
/* Estilos para el pie de página */
.footer {
   position: relative;
   height: auto; /* Cambiamos la altura a automática para que se ajuste al contenido */
   padding-top: 90px; /* Ajustamos el espaciado en la parte superior */
   overflow: hidden; /* Aseguramos que el contenido no sobresalga */
   margin-top: -100px;
   z-index: 30;
}


/* Estilos para la imagen de fondo */
.footer-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1; /* Asegura que la imagen esté detrás del contenido */
   object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

/* Ajustes para la clase container */
.container {
   position: relative;
   z-index: 2; /* Asegura que el contenido esté por encima de la imagen de fondo */
}
/* Añadir display: flex al contenedor padre */

.piedepagina {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}
/* Asegurar que cada sección tenga un ancho igual y espacio interior */
.footer__address, .footer_social, .footer__newslatter {
   flex: 1;
   padding: 10px;
}


/* Ajustes para la información del pie de página */
.footer__address {
   text-align: left; /* Alineamos a la izquierda */
}
.footer__address ul {
   list-style: none;
   padding: 0;
}

.footer__address ul li {
   display: flex;
   align-items: center;
   margin-bottom: 25px; /*ditancia entre phone y email*/
}

.footer__address ul li img {
   width: 24px; /* Ajusta el tamaño según necesites */
   height: 24px; /* Ajusta el tamaño según necesites */
   margin-right: 10px; /* Añade margen a la derecha de las imágenes */
}
.contact-info {
   display: flex;
   flex-direction: column;
}

.contact-info p {
   font-size: 20px;
   margin: 0;
   font-weight: bold;
}

.contact-info h6 {
   font-size: 15px;
   margin: 5px 0 ;
}

.footer__social {
   text-align: center; /* Alineamos al centro */

}
.social_icon  {
      width: 24px; /* Ajusta el tamaño según necesites */
      height: 24px; /* Ajusta el tamaño según necesites */
  
}
.footer__newslatter {
   text-align: right; /* Alineamos a la derecha */
}

/* Ajustes para el formulario */
.footer__newslatter form {
   margin-top: 10px; /* Añadimos margen arriba del formulario */
}
/* Estilos para el campo de entrada del formulario de newsletter, cuadrado email */
.newsletter-input {
   width: 80%; /* O el tamaño que desees, por ejemplo, 80% */
   max-width: 400px; /* Limita el tamaño máximo si es necesario */
   padding: 15px; /* Espaciado interno para agrandar el campo */
   font-size: 16px; /* Tamaño del texto dentro del campo */
   border: 2px solid #ccc; /* Color del borde */
   border-radius: 5px; /* Bordes redondeados */
   background-color: #f0f0f0; /* Color de fondo */
   color: #333; /* Color del texto */
   box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
   margin-bottom: 10px; /* Espacio debajo del campo */
}

/* Estilo para el botón del formulario, boton enviar */
.footer__newslatter button {
   padding: 10px 15px; /* Espaciado interno del botón */
   border: none; /* Sin borde */
   border-radius: 5px; /* Bordes redondeados */
   background-color: #333; /* Color de fondo del botón */
   color: #fff; /* Color del texto del botón */
   cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}


.footer__newslatter button img {
   width: 24px; /* Ajusta el tamaño según necesites */
   height: 24px; /* Ajusta el tamaño según necesites */
}


.footer_privacidad {
   text-align: center;
}
@media (max-width: 768px) {
   .piedepagina {
       flex-direction: column;
       align-items: center;
   }

   .footer__address, .footer_social, .footer__newslatter {
       text-align: center;
   }

   .footer__newslatter {
       text-align: center;
   }
}
/*---------------------
 Breadcrumb
-----------------------*/

.breadcrumb-option {

   padding-top: 10%;
   margin-left: 3%;
   margin-bottom: 2%;

}

.breadcrumb__links a {
   font-size: 15px;
   color: #111111;
   margin-right: 18px;
   display: inline-block;
   position: relative;
}

.breadcrumb__links a:after {
   position: absolute;
   right: -14px;
   top: 0;
   content: "|";
   color: #4dff86;
}

.breadcrumb__links a i {
   margin-right: 5px;
}

.breadcrumb__links span {
   font-size: 15px;
   color: #4dff86;
   display: inline-block;
}

/*---------------------
 Tours
-----------------------*/
.derecha-image {
   width: 90%;
   display: block;
   margin-left: auto;
   margin-right: 0;
}
.derecha-image-inferior {
   width: 90%;
   max-height: 700px;
   display: block;
   margin-left: auto;
   margin-right: 0;
   margin-top: 40px;
}

.izquierda-image {
   width: 90%;
   display: block;
   margin-right: auto;
   margin-left: 0;
   margin-top: 40px;

}
.izquierda-image-inferior {
   width: 80%;
   display: block;
   margin-right: auto;
   margin-left: 0;
   margin-top: 40px;

}
.row.mt-5 {
   display: flex;
   align-items: center;
}

.margenesTexto2,
.margenesTexto3 {
   margin-top: -30px; /* Ajustar el margen superior */
}

.margenesTexto2 {
   text-align: left;
   padding-right: 15px;
   margin-right: 20px;
   margin-left: 20px;
}

.margenesTexto3 {
   text-align: right; /*NO SE MUESTRA A LA DERECHA!!!!AAAAAAAAAAAAAAAA*/
   padding-left: 15px;
   margin-left: 20px; /* Ajustar el margen izquierdo para alinear a la derecha */
   margin-right: 20px;
   margin-left: 20px;
}

.col-lg-6 {
   flex: 1;
   max-width: 50%;
}

.container {
   display: flex;
   flex-direction: column;
}

@media (max-width: 768px) {
   .row {
       flex-direction: column;
   }
   .derecha-image,
   .izquierda-image {
       width: 100%;
       margin: 0 auto;
       margin-bottom: 20px;
   }
   .col-lg-6 {
       max-width: 100%;
   }
}



/*---------------------
   Blog
-----------------------*/

.blog {
   padding-bottom: 60px;
}

.margin-djsStars{
  text-align: center;
}

#altoImagenVerdePrincipal{
   height: 1000px;
}

#tituloMargenSuperior{
   margin-top: 36%;
   margin-bottom: 100px;
}

.imagenesContenido{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 80px;
   margin-left: 1%;
   font-size: 20px;
   text-align: center;
}

.tamañoImagenes{
   display: grid;
   gap: 10px;
   margin-left: 50px;
}

.margenesTexto{
   margin-top: 150px;
   margin-left: 20px;
}

.margenesTexto2{
   margin-top: 150px;
}

.margenTextoFinal{
   text-align: center;
   margin-top: 300px;
   margin-bottom: 15%;
}
/*---------------------
   PAGINA DE GALERIA
-----------------------*/

.fotosdjs{
   margin-top: 100px;
}

.estilo_textofinal_djs {
   text-align: center;
   margin-top: 8%;
   margin-bottom: 25%;
}
/*---------------------
   PAGINA DE CONTACT
-----------------------*/
.map {
   margin-top: 5%;
   width: 100%;
   height: 700px; /* Aumenta la altura según tus necesidades */
}

.MAPA {
   margin-left: 20%;
   margin-right: 20%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #ccc; /* Ajusta el borde según tus necesidades */
   padding: 0;
   flex-direction: column;
}

.contact__address {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   
}

.contact__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

/*---------------------
SECCION COMPRA

-----------------------*/
.seccioncompra {
   margin-top: 6%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 140%;
}

.wrapper {
   width: 60%;
   background-color: rgba(11, 153, 32, 0.678);
   -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
   -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
   box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   animation: slideUp 2000ms ease;
}

h1 {
   
   text-align: center;
}

form {
   width: 100%;
}

form > * {
   margin-top: 20px;
}

.inputtickets {
   width: 100%;
   min-height: 25px;
   border: 0;
   font-size: 1rem;
   letter-spacing: .15rem;
   font-family: 'Bebas Neue', sans-serif;
   margin-top: 5px;
   color: black;
   border-radius: 4px;
}

label {
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 2px;
   color: black;
}

h1  {
   font-size: 24px;
   margin-left:  10px;
   color: black;
   letter-spacing: 1px;
}

h1:nth-of-type(2) {
   margin-top: 10%;
}

.name {
   justify-content: space-between;
   display: flex;
   width: 100%;
}

.address-info {
   display: flex;
   justify-content: space-between;
}

.address-info div {
   width: 30%;
}

.cc-info {
   display: flex;
   justify-content: space-between;
}

.cc-info div {
   width: 45%;
}

.btns {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.btns button {
   margin: 3px 0;
   height: 30px;
   width: 40%;
   color: #cfc9e1;
   background-color: #323136;
   text-transform: uppercase;
   border: 0;
   border-radius: .3rem;
   letter-spacing: 2px;
}

.btns button:hover {
   animation-name: btn-hov;
   animation-duration: 550ms;
   animation-fill-mode: forwards;
}

@keyframes btn-hov {
   100% {
      background-color: #cfc9e1;
      color: #2a2626;
      transform: scale(1.05);
   }
}
/*ASIDE DE NOTICIAS ABOUT US*/
.page {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
 }

 .containeraside {
   flex: 1;
   padding: 20px;
   display: flex;
 }

 .news h2,h3 {
   font-family: 'Bebas Neue', sans-serif;

 }
 .news p {
   font-family: 'Roboto', sans-serif;

 }
 .news {
   flex: 1;
   background-color: #f0eeeeb5;
   padding: 20px;
   border-radius: 10px;
 }

 .aside {
   z-index: 20; 
   flex-basis: 27%; /* 30% del ancho total */
   background-color: rgba(11, 153, 32, 0.678);
   padding: 20px;
   border-radius: 10px;
   position: fixed;
   top: 50%; /* Centrar verticalmente */
   right: 0; /* Alinear a la derecha */
   transform: translate(0, -50%); /* Centrar verticalmente */
 }

 /* Estilos para el contenido de la sección de noticias */
 .news-item {
   margin-bottom: 20px;
 }

 .news-item h3 {
   margin-top: 0;
 }
 /* Estilos para el contenido de la sección de noticias */
 .news.item {
   margin-bottom: 20px;
 }

 .news.item h3 {
   margin-top: 0;
 }
/*PAGINA DE GALERIA


/*---------------------
 mini gallery
-----------------------*/
#container-carousel {
   display: flex;
   place-items: center;
}

.button_carousel {
   width: 56px;
   height: 56px;
   padding: 20px;
}

.button_carousel:hover {
   width: 58px;
   height: 58px;
}
.container-carousel-button {
   width: 100px;
   text-align: center;
}
#image_button_left {
   visibility: hidden;
}

.titulogallery h1 a {
   text-decoration: none; /* Quita el subrayado del enlace */
   color: inherit; /* Utiliza el color del texto heredado */
}

.titulogallery h1 {
   text-align: center;
   margin-bottom: 3%;
   font-weight: bold; /* Peso de la fuente */
}

/* titulo mini gallery*/
.showmore {
   text-align: center; 
   color: #000;
}

.showmore:hover {
   color: #04be17; /* Cambia a un tono grisáceo cuando se pase el mouse por encima */
}

/*PÁGINA GALERÍA*/
.gallery {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}
.image_gallery {
width: 350px;
height: 200px;
padding: 12px;
}